// $color-foreground: #111827;
$color-foreground: hsl(180 20% 20%);
$color-background-primary: hsl(180 20% 98%);
$color-background-secondary: hsl(180 20% 90%);
$color-background-primary-dark: hsl(180 20% 25%);
