---
// Layout import
import MainLayout from '../layouts/MainLayout.astro';
// You can import components from any supported Framework here!

import Hero from '../components/Hero.astro';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
const title = 'Fabric Design System';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<MainLayout title={title}>
	<Hero
		heading="Welcome"
		leadIn={`
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. At saepe
			mollitia nostrum, alias aperiam explicabo illo perferendis dicta
			voluptates beatae?
		`}
	/>
	<h2>Lorem, ipsum.</h2>
	<p>Dolor sit amet consectetur adipisicing elit. Atque architecto hic sequi veniam provident praesentium molestias tempore error, pariatur facere expedita rerum earum in asperiores tenetur ea repellat suscipit sit!</p>
	<p>Eius sapiente dignissimos autem perferendis ratione sint tempora laboriosam, repellat illum, beatae laudantium. Perferendis doloremque vel blanditiis numquam reprehenderit placeat suscipit provident assumenda amet, ducimus itaque fugit veniam nam inventore?</p>
	<h2>Reprehenderit, ex.</h2>
	<p>Praesentium accusamus quas ratione porro voluptatibus nulla quis fugit iusto id, aperiam doloremque suscipit nemo in. Cupiditate inventore error quo voluptate ad, laboriosam saepe fugiat hic nostrum explicabo porro enim!</p>
	<p>Nisi itaque ut debitis incidunt impedit eveniet amet, ex consectetur fuga consequuntur quam molestiae ad, voluptatibus non atque odit, id repellendus nesciunt rem assumenda laboriosam. Quaerat iure sint sunt et!</p>
	<h2>Temporibus, iste!</h2>
	<p>Animi unde fugit at natus id ipsa vel veritatis consequatur quis, aut quidem voluptatem, error distinctio minima aspernatur mollitia culpa repellendus, autem nemo? Autem qui, culpa ullam unde suscipit cum.</p>
</MainLayout>