<button class="button" type="button">
	<slot />
</button>

<style lang="scss">
  /* ✅ Locally scoped! */
  .button {
    padding: 0.5em 1em;
    border-radius: 0.1875rem;
    font-weight: 600;
  }
</style>