---
const {heading, leadIn} = Astro.props;
---

<div class="hero">
	<img src="assets/fabric.jpg" alt="Fabric with folds that cast flowing shadows">
	<h1>{heading}</h1>
	<p class="lead-in">{leadIn}</p>
</div>

<style lang="scss">
    @use '../styles/tokens';

    .hero {
        position: relative;

        overflow: hidden;

        padding: clamp(tokens.$size-spacing-3xl, 10vw, 8rem) clamp(tokens.$size-spacing-md, 6vw, 10rem);
        margin: -#{tokens.$size-spacing-md} -#{tokens.$size-spacing-md} tokens.$size-spacing-md;

        border-start-start-radius: inherit;
        border-start-end-radius: inherit;
    }

	img {
        position: absolute;
        inset: 0;

        block-size: 100%;
        inline-size: 100%;
        object-fit: cover;

        mix-blend-mode: luminosity;
        opacity: 0.25;
        @media (prefers-color-scheme: dark) {
            opacity: 0.75;
        }
	}

    h1,
    .lead-in {
        position: relative;
    }

    h1 {
        display: inline-block;
        padding-block-end: tokens.$size-spacing-2xl;
        border-block-end: tokens.$size-border-width-thin solid;
        margin-block: 0;

        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: .125em;
        word-break: break-word;
    }

	.lead-in {
        max-inline-size: 30ch;
		font-size: 1.5rem;
        margin-block: tokens.$size-spacing-2xl 0;
	}
</style>