---
import SidebarLayout from '../../layouts/SidebarLayout.astro';

import foundationNavBlocks from './nav-blocks.json';

const title = 'Foundations - Fabric Design System';
---

<SidebarLayout navBlocks={foundationNavBlocks} title={title}>
	<h1>Foundations</h1>
	<p>Look at all this amazing content! Wow!</p>
</SidebarLayout>
