<div class="layout-cards">
    <slot />
</div>

<style lang="scss">
    .layout-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 12rem), 1fr));
        gap: 1rem;
    }
</style>